/*general styles/misc*/
body{
    margin: 0px;
    padding: 0px;
}
h1,h2,h3,h4,h5{
    font-family: 'Montserrat', sans-serif;
}
p,a,input,label{
    font-family: 'Nunito', sans-serif;
}
.copyright{
    text-align: center;
    background-color: #373F51;
    color: white;
    margin-top: 25%;

}
.copyright p{
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 0px;
}
.container{
    display: grid;
    grid-template-columns: 20% 60% 20%;
}
.container-index-body{
    display: grid;
    grid-template-columns: 20% 60% 20%;
}
.message{
    text-align: center;
    color: red;
}
/*header-style*/
header{
    background-color: #5792D1;
}
.logo{
    text-align: center;
    grid-column: 1;
}
.logo img{
    max-width: 40px;
    height: auto;
}
.nav{
    position: relative;
    text-align: center;
    grid-column: 3;
    top: 25%;
}
/*index-body*/
.index_welcome{
    padding-top: 20%;
    text-align: center;
    grid-column:2;
}
.index_informational{
    text-align: center;
    grid-column: 2;
}
.form{
    grid-column: 2;
    margin-top: 10%;
    text-align: center;
}
.form1{
    display: inline-block;
    background-color: #5792D1;
    margin-top: 30px;
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 30px;
    text-align: left;
}
.tos{
    grid-column: 2;
}
.download{

    padding: 10px 20% 10px 20%;
    background-color: #5792D1;
    color: white;
    text-decoration: none;
    font-size: large;
    border-radius: 50px;
}
.download:hover{
    background-color: #373F51;
}
.download_ifelse{
    margin-top: 20%;
}
.login_register{
    color: white;
    padding: 3px;
}
.login_register:hover{
    background-color: #373F51;
}
.logout{
     text-decoration: none;
     background-color: #5792D1;
     border: none;
     margin: 0px;
     color: white;
 }
.logout:hover {
    background-color: #373F51;
}
/*footer*/
footer{
    bottom: 0;
}
/*responsiveness*/
@media only screen and (max-width: 600px) {
    .container-index-body{
        display: grid;
        grid-template-columns: 10% 80% 10%;
    }
    .login_register{
        color: white;
        padding: 3px;
        font-size: 50px;
    }
}
@media only screen and (max-width: 400px) {
    .container-index-body{
        display: grid;
        grid-template-columns: 100%;
    }
    .index_welcome{
        grid-column: 1;
    }
    .index_informational{
        grid-column: 1;
    }
}